@use "variables";
@use "hero";
@use "shows";

@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($fontSize: 1rem) {
  font-size: $fontSize;
  line-height: $fontSize + 0.625rem;
  color: variables.$primary-color;
}

@mixin title($fontSize: 2.5rem) {
  @include text($fontSize);
  color: variables.$secondary-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variables.$bg-color;
}

button {
  cursor: pointer;
}
